@{
    ViewData["Title"] = "Add project";
}
@using System.Security.Claims
@using CPMS.DAL.Common

@model TimeModel
<div class="container-fluid">
    <div class="row main-header">
        <h2>
            @ViewData["Title"]
        </h2>
    </div>
    <div class="body-content">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="alert-danger">
                        @ViewData["Message"]
                    </div>

                    <div class="alert-success">
                        @ViewData["MessageSuccess"]
                    </div>
                    <form asp-action="LogTime">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="TaskID" class="form-control" value="@ViewData["id"]" type="hidden" />
                        <input asp-for="DeveloperID" class="form-control" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" type="hidden" />

                        <div class="form-group">
                            <label asp-for="Start" class="control-label"></label>
                            <input asp-for="Start" class="form-control" />
                            <span asp-validation-for="Start" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Close" class="control-label"></label>
                            <input asp-for="Close" class="form-control" />
                            <span asp-validation-for="Close" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" rows="3" cols="20" class="form-control">
                            </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


