@{
    ViewData["Title"] = "People";
}

<div class="container-fluid">
    <div class="row main-header">
        <h2>
            @ViewData["Title"]
        </h2>
    </div>
    
    <div class="body-content">
        <div class="row">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="People" asp-action="AddDeveloper">Add developer</a></li>
                <li><a asp-area="" asp-controller="People" asp-action="AddCustomer">Add Customer</a></li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="alert-danger">
                @ViewData["Message"]
            </div>

            <div class="alert-success">
                @ViewData["MessageSuccess"]
            </div>
            <div class="row" style="margin-top: 20px">
                <h4>Developers</h4>
            </div>

            <div class="row border-bottom">
                <div class="col col-md">Full Name</div>
                <div class="col col-md">User Name</div>
                <div class="col col-md">Position</div>
                <div class="col col-lg-6">Actions</div>
            </div>
            @if (@ViewData["developers"] != null)
            {
                @foreach (var item in @ViewData["developers"] as List<DeveloperModel>)
                 {
                     <div class="row border-bottom">
                         <div class="col col-md  ">@item.FullName</div>
                         <div class="col col-md">@item.UserName</div>
                         <div class="col col-md">@item.Role.ToString()</div>
                         <div class="col col-lg-6">
                             <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="DetailDeveloper" asp-route-id="@item.ID">Detail</a>
                             <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="EditDeveloper" asp-route-id="@item.ID">Update</a>
                             <a class="btn btn-danger" asp-area="" asp-controller="People" asp-action="RemoveDeveloper" asp-route-id="@item.ID">Remove</a>
                         </div>
                     </div>
                 }
            }
            <div class="row" style="margin-top: 20px">
                <h4>Customers</h4>
            </div>

            <div class="row border-bottom">
                <div class="col col-md">ID</div>
                <div class="col col-md">Full Name</div>
                <div class="col col-md">Company name</div>
                <div class="col col-lg-6">Actions</div>
            </div>
            @if (@ViewData["customers"] != null)
            {
                @foreach (var item in @ViewData["customers"] as List<CustomerModel>)
                 {
            <div class="row border-bottom">
                <div class="col col-md">@item.ID</div>
                <div class="col col-md">@item.FullName</div>
                @if (item.BillingInfo != null)
                {
                    <div class="col col-md">@item.BillingInfo.CompanyName</div>
                }
                else
                {
                    <div class="col col-md">---</div>
                }

                <div class="col col-lg-6">
                    <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="DetailCustomer" asp-route-id="@item.ID">Detail</a>
                    <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="EditCustomer" asp-route-id="@item.ID">Update</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="People" asp-action="RemoveCustomer" asp-route-id="@item.ID">Remove</a>
                </div>
            </div>
                 }
            }
        </div>
        
    </div>
</div>


