@{
    ViewData["Title"] = "Projects";
    var IsManager = User.FindFirst(ClaimTypes.Role)?.Value == "Manager";
    var IsDeveloper = User.FindFirst(ClaimTypes.Role)?.Value == "Developer";
}
@using System.Security.Claims

<div class="container-fluid">
    <div class="row main-header">
        <h2>
            @ViewData["Title"]
        </h2>
    </div>
    
    <div class="body-content">
        <div class="row">
            @if (IsManager)
            {
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Project" asp-action="Add">Add project</a></li>
                </ul>
            }
        </div>
        <div class="container-fluid">

            <div class="alert-danger">
                @ViewData["Message"]
            </div>

            <div class="alert-success">
                @ViewData["MessageSuccess"]
            </div>
            <div class="row border-bottom">
                <div class="col col-sm">ID</div>
                <div class="col col-md">Name</div>
                <div class="col col-md">Customer</div>
                <div class="col col-md">Start date</div>
                <div class="col col-sm">Status</div>
                <div class="col col-lg-6">Actions</div>
            </div>
            @if (@ViewData["projects"] != null)
            {
                @foreach (var item in @ViewData["projects"] as List<ProjectModel>)
                {
                    <div class="row border-bottom">
                        <div class="col col-sm">@item.ID</div>
                        <div class="col col-md">@item.Name</div>
                        @if (item.Customer != null)
                        {
                            @if (item.Customer.BillingInfo != null)
                            {
                                <div class="col col-md">@item.Customer.BillingInfo.CompanyName</div>
                            }
                            else
                            {
                                <div class="col col-md">@item.Customer.FullName</div>
                            }
                        }
                        else
                        {
                            <div class="col col-md">---</div>
                        }
                        <div class="col col-md">@item.StarDate</div>
                        @if (item.EndDate == null)
                        {
                            <div class="col col-sm">Active</div>
                        }
                        else
                        {
                            <div class="col col-sm">Done</div>
                        }

                        <div class="col col-lg-6">
                            <a class="btn btn-default" asp-area="" asp-controller="Project" asp-action="Detail" asp-route-id="@item.ID">Detail</a>
                            @if (IsManager)
                            {
                                <a class="btn btn-default" asp-area="" asp-controller="Project" asp-action="Edit" asp-route-id="@item.ID">Update</a>
                                <a class="btn btn-danger" asp-area="" asp-controller="Project" asp-action="Remove" asp-route-id="@item.ID">Remove</a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


